<div id="wrapper">
  <div id="top">
    <%= image_tag("result/top.png") %>
  </div>
  <div id="midtop">
    <%= image_tag("result/item.jpg") %>
  </div>
  <div id="content2">
    <div id="starbox">
      <% (1..5).each do %>
        <div class="star"><%= image_tag("result/star.svg") %></div>
      <% end %>
    </div>

    <div id="starbox">
      <div class="star">
        <%= link_to(image_tag("result/twitter.png"), "#") %>
      </div>
      <div class="star">
        <%= link_to(image_tag("result/insta.png"), "#") %>
      </div>

      <div id="starbox">
        <p>クロエ(Chloé)は、ギャビー・アギョンによって創設されたフランスの名門ファッションブランドである。1952年創業。プレタポルテ（レディ・トゥ・ウエア＝既製服）市場の草分け的存在とされる。</p>
        <p>定価（税抜）：¥12,000</p>
      </div>

      <div id="starbox">
        <p>トップノート　20分
        <br/>ミドルノート　40分
        <br/>ラストノート　3時間</p>
      </div>

      <div id="starbox">
        <div class="star"><%= image_tag("result/parfum.png") %></div>
        <div class="star"><%= image_tag("result/toilette.png") %></div>
        <div class="star"><%= image_tag("result/cologne.png") %></div>
      </div>
      <div id="graph"></div>
      <div id="snstop"><%= image_tag("result/twitter_white.png") %></div>
      <div id="snsbox"></div>
    </div>
  </div>
  <div id="bottom"><%= image_tag("result/bottom.png") %></div>
</div>