<div id="wrapper">
  <div id="top">
    <%= image_tag("result/top.png") %>
  </div>
  <div id="midtop">
    <% if @product.mst.image_url.present? %>
      <%= image_tag(@product.mst.image_url) %>
    <% else %>
      <%= image_tag("result/item.jpg") %>
    <% end %>
  </div>
  <div id="content2">
    <div id="starbox">
      <% star = @product.mst.review_average.present? ? @product.mst.review_average.to_i : 5 %>
      <% (1..star).each do %>
        <div class="star"><%= image_tag("result/star.svg") %></div>
      <% end %>
    </div>

    <div id="starbox">
      <div class="star">
        <%= link_to(image_tag("result/twitter.png"), "#") %>
      </div>
      <div class="star">
        <%= link_to(image_tag("result/insta.png"), "#") %>
      </div>

      <div id="starbox">
        <p><%= @product.mst.description %></p>
        <p>価格：¥<%= @product.mst.price.zero? ? 12000 : @product.mst.price %></p>
      </div>

      <div id="starbox">
        <p>トップノート　20分
        <br/>ミドルノート　40分
        <br/>ラストノート　3時間</p>
      </div>

      <div id="starbox">
        <div class="star"><%= image_tag("result/parfum.png") %></div>
        <div class="star"><%= image_tag("result/toilette.png") %></div>
        <div class="star"><%= image_tag("result/cologne.png") %></div>
      </div>
      <div id="graph"></div>
      <%= @product.mst.name %>
      <div id="snstop"><%= image_tag("result/twitter_white.png") %>
      </div>
      <div id="snsbox">
        <% @tweets.attrs[:statuses].each do |tweet| %>
          <%= tweet[:text] %><br><hr>
        <% end %>
      </div>
    </div>
  </div>
  <div id="bottom"><%= image_tag("result/bottom.png") %></div>
</div>